@model ZORI_KIDS_KG.Models.MailSenderViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-profile-cover section-shaped my-0">
    <div class="shape shape-style-1 shape-dark ">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>

<section class="section section-lg pt-lg-0 section-contact-us">
    <form asp-action="SendEmail">
        <div class="container">
            <div class="row justify-content-center mt--300">
                <div class="col-lg-8">
                    <div class="card bg-gradient-secondary shadow">
                        <div class="card-body p-lg-5">
                            <h4 class="mb-1">Vrei sa vorbesti cu noi?</h4>
                            <p class="mt-0">Trimite-ne un mesaj!</p>
                            <div class="form-group mt-5">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                                    </div>
                                    <input asp-for="Name" class="form-control" placeholder="Numele complet" type="text">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-tag"></i></span>
                                    </div>
                                    <input asp-for="Subiect" class="form-control" placeholder="Subiect" type="text">
                                    <span asp-validation-for="Subiect" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input asp-for="Email" class="form-control" placeholder="Adresa Email" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input asp-for="Telefon" class="form-control" placeholder="Telefon" type="text">
                                    <span asp-validation-for="Telefon" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <textarea asp-for="Message" class="form-control form-control-alternative" rows="4" cols="80" placeholder="Scrie un mesaj..."></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="submit" value="Trimite mesaj" class="btn btn-default btn-round btn-block btn-lg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
