
@{
    ViewData["Title"] = "UploadPictureAsociatie";
    Layout = null;
}

<form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="UploadPictureAsociatie">
    <div class="form-group">
        <div class="col-md-10">
            <p>Apasa pe primul buton(choose file) pentru a alege un fisier de dimensiuni reduse. Format acceptat : .JPG</p>
            <input type="file" name="pictures">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Salveaza">
        </div>
    </div>
</form>