
@{
    ViewData["Title"] = "Despre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-profile-cover section-shaped my-0">    
    <div class="shape shape-style-1 shape-dark alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="card card-profile shadow mt--300">
            <div class="px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/theme/zori.jpg" style="max-width:200px" class="rounded-circle" alt="image">
                            </a>
                        </div>
                    </div>                  
                </div>
                <div class="text-center mt-5">
                    <h3>ZORI KIDS</h3>
                    <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Targu Mures, Romania</div>
                    <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Un vis frumos care a început să prindă aripi.</div>
                    <div><i class="ni education_hat mr-2"></i>Suntem o echipă tanără dar cu o bună experientă în practicarea terapiilor pentru copii speciali. Dăm start la unul dintre cele mai importante misiuni ale noastre... Educarea, informarea comunității asupra ceea ce facem noi.</div>
                </div>
                <div class="mt-5 py-5 border-top text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <p>
                                Misiunea noastră este de a ajuta copii cu nevoi speciale, și de ai integra în societate. Ne dorim ca toți copilașii care pășesc în cabinetul nostru să devină funcționali și să se observe progrese în dobândirea deprinderilor de autonomie și relaționare cu mediul înconjurator și cu oamenii din jur. Sunt primiți într-o atmosferă veselă, înconjurați cu multă iubire, speranță și dăruire. În primul rând se dezvoltă o relație de prietenie și încredere cu copilașii pentru a-i ajuta în evoluția lor.

                                Avem următoarele terapii: terapia ABA, terapie ocupațională, logopedie, psihopedagogie specială, terapie senzorială, grupuri de socializare, grupuri de activități care-i ajută la o dezvoltare armonioasă și să dezvolte noi deprinderi de viață (iar peste toate acestea se presară multă afecțiune). Din echipa noastră face parte și un coordonator de terapie ABA, care supraveghează atent activitatea și care creează planurile după care lucrează terapeuții.

                                Totodată, pe lângă terapia copiilor, venim și în sprijinul părinților cu grupuri de suport, unde găsim împreună cu ei soluții la problemele lor zilnice.

                                În viitorul apropiat dorim să educăm populația prin <campanii de educare>, prin care ei să înțeleagă importanța și susținerea lor în integrare.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>