@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="section-profile-cover section-shaped my-0">
    <div class="shape shape-style-1 shape-dark alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="card card-profile shadow mt--300">
            <div class="px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/theme/zori.jpg" style="max-width:200px" class="rounded-circle" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <h3>ZORI KIDS</h3>
                    <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Targu Mures, Romania</div>
                    <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>POLITICA COOKIE-URI 18/09/2019</div>
                    <div><i class="ni education_hat mr-2"></i>Urmeaza si politica GDPR a fi pusa pe site.</div>
                </div>
                <div class="mt-5 py-5 border-top text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <p>
                                
                                @*- Cuprins –
                                1. Ce sunt COOKIE-urile 
                                2. Ce tip de cookie-uri sunt folosite in site 
                                2.1 COOKIE-uri tehnice 
                                2.2 Alte COOKIE-uri 
                                3. Preferinte browsere
                                5. Schimbari ale politicii cookie-uri*@ 

                                Aceasta politica de cookie explica utilizatorilor modul in care site-ul adopta modulele cookie si, in plus,
                                ofera indrumari cu privire la modul in care acestea pot fi gestionate. Aceasta politica de cookie trebuie
                                citita impreuna cu Politica de Confidentialitate. Prin continuarea utilizarii Site-ului nostru, sunteti de
                                acord cu utilizarea cookie-urilor asa cum este descrisa in această Politica de Cookie-uri.

                                1. CE SUNT COOKIE-URILE Un cookie sau un modul cookie este un text special, deseori codificat, trimis
                                de un server unui navigator web și apoi trimis înapoi (nemodificat) de către navigator, de fiecare data
                                cand acceseaza acel server. Cookie-urile utilizate de catre detinatorul site-ului, sunt folosite pentru
                                autentificare, retinerea preferintelor utilizatorilor si in general pentru a oferi vizitatorilor o experienta
                                mai buna de navigare.
                                2. CE TIP DE COOKIE-URI SUNT FOLOSITE IN SITE Acest site foloseste mai multe tipuri de cookie-uri
                                pentru scopuri diferite:
                                2.1 COOKIE-URI TEHNICE Cookie-urile tehnice sunt cookie-uri care permit utilizatorilor sa navigheze pe
                                site sau sa se bucure de caracteristicile de baza ale site-ului. Aceste cookie-uri sunt procesate automat
                                pe dispozitivul utilizatorului de catre site ca urmare a accesului utilizatorului la Site si nu necesita
                                consimtamantul special al utilizatorului.
                                Intr-adevar, consimtamantul nu este impus de lege daca si cand un cookie este:
                                • Utilizat in scopul unic de a realiza transmiterea unei comunicari; si
                                • Strict necesar pentru ca furnizorul unui serviciu digital explicit cerut de catre utilizator sa
                                furnizeze acest serviciu (ex: http server access log).
                                Cookie-urile tehnice utilizate de Site includ:
                                • Cookie-uri pentru navigare: ce asigura o navigare si o utilizare normala a Site-ului, prin diferite
                                optiuni si servicii;
                                • Cookie-uri functionale: ce salveaza preferintele utilizatorilor si faciliteaza experienta de navigare,
                                bazat pe criterii selectate (de exemplu: limba, tipul de browser, etc.).
                                Acest Site colecteaza de asemenea adresele IP sau orice alte informatii identificatoare de pe
                                dispozitivele utilizatorilor, informatii ce sunt necesare pentru intretinerea site-ului, diagnoza
                                problemelor din server si indeplinirea altor scopuri legale.Dezactivarea cookie-urilor tehnice poate limita capacitatea utilizatorilor de a naviga pe site și de a se
                                bucura de caracteristicile sale sau de serviciile oferite.
                                2.2 ALTE COOKIE-URI
                                Toate cookie-urile in afara de cookie-urile tehnice sunt procesate sau activate doar daca utilizatorii isi
                                dau consimtamantul in prealabil prin apasarea butonului “Sunt de acord”.
                                La prima vizita a utilizatorilor in Site, acestora le este afisat un cookie banner pe ecran, in browser. Acest
                                banner dispare de indata ce userul accepta informarea legata de utilizarea de cookie-uri in Site.
                                Consimtamantul poate fi exprimat intr-un mod general, facand clic pe butonul OK sau deruland pagina
                                sau facand clic pe oricare dintre elementele Site-ului.
                                Cookie-urile sunt stocate astfel incat sa inlesneasca vizitele viitoare ale utilizatorului la site. Cu toate
                                acestea, utilizatorii pot revoca întotdeauna toate consimțămintele acordate anterior prin stergerea
                                memoriei cache a browserului si a modulelor cookie.
                                Cookie-urile non-tehnice utilizate de Site sunt cookie-urile terta parte: cookie-urile configurate pe
                                dispozitivul utilizatorului de catre un domeniu sau un website distinct de Site-ul nostru. Cookie-urile
                                terta parte sunt implementate de furnizorii de marketing si de partenerii site-ului prin intermediul unor
                                etichete ale unor terta părți. Site-ul nostru nu controleaza aceste cookie-uri.
                                Site-ul nostru nu detine nici un acces sau control asupra cookie-urilor sau a altor tehnologii de urmarire
                                utilizate de terte parti accesibile de catre Site si nu poate asigura respectarea de catre terte a legii
                                aplicabile privind confidentialitatea.
                                2.2.1 Cookie-uri Social Media Aceste cookie-uri sunt necesare partajarii de continut in retelele de
                                socializare. Aici gasiti o lista de cookie-uri Social Media:
                                a) Pinterest
                                b) Facebook
                                c) Twitter
                                d) YouTube.
                                2.2.2 Cookie-uri pentru Analitice Aceste cookie-uri sunt colectate de catre terte parti, in forma
                                individuala sau agregata, pentru a colecta informatii cu privire la numarul de utilizatori si la modul in
                                care acestia viziteazs site-ul, cum ar fi informatii despre paginile sau sectiunile care sunt vizitate cel mai
                                mult. Aceasta este o lista a modulelor cookie-uri pentru analitice (include un link catre paginile cu mai
                                multe informatii despre astfel de module cookie si instructiunile privind modul de gestionare a
                                consimtamantului utilizatorilor):
                                a) Google Analytics
                                Site-ul utilizeaza cookie-uri care nu permit nici un control asupra dispozitivului utilizatorului si nu
                                instaleaza programe pe dispozitivul utilizatorului.3. PREFERINTE BROWSERE Utilizatorii isi pot administra preferintele legate de cookie-uri din setarile
                                browse-relor lor:
                                • Internet Explorer
                                • Safari
                                • Chrome
                                • Firefox
                                Pentru mai multe informatii, Utilizatorii pot vizita: www.allaboutcookies.org sau
                                www.youronlinechoices.com
                                5. SCHIMBARI ALE POLITICII COOKIE-URI Orice schimbari viitoare ale acestei Politici de Cookie-uri vor fi
                                publicate pe Site. Utilizatorii sunt incurajati sa citeasca Politica Cookie-urilor in mod frecvent pentru
                                verificarea actualizarilor si a schimbarilor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


